In [1]:
"""
Tutorial for the Million Song Dataset

by Thierry Bertin-Mahieux (2011) Columbia University
   tb2332@columbia.edu
   Copyright 2011 T. Bertin-Mahieux, All Rights Reserved

This tutorial will walk you through a quick experiment
using the Million Song Dataset (MSD). We will actually be working
on the 10K songs subset for speed issues, but the code should
transpose seamlessly.

In this tutorial, we do simple metadata analysis. We look at
which artist has the most songs by iterating over the whole
dataset and using an SQLite database.

You need to have the MSD code downloaded from GITHUB.
See the MSD website for details:
http://labrosa.ee.columbia.edu/millionsong/

If you have any questions regarding the dataset or this tutorial,
please first take a look at the website. Send us an email
if you haven't found the answer.

Note: this tutorial is developed using Python 2.6
      on an Ubuntu machine. PDF created using 'pyreport'.
"""
!pip install tables
# usual imports
import os
import sys
import time
import glob
import datetime
import sqlite3
import tables
import numpy as np # get it at: http://numpy.scipy.org/
# path to the Million Song Dataset subset (uncompressed)
# CHANGE IT TO YOUR LOCAL CONFIGURATION
msd_subset_path='../../MillionSongSubset'
msd_subset_data_path=os.path.join(msd_subset_path,'data')
msd_subset_addf_path=os.path.join(msd_subset_path,'AdditionalFiles')
assert os.path.isdir(msd_subset_path), 'wrong path' # sanity check
# path to the Million Song Dataset code
# CHANGE IT TO YOUR LOCAL CONFIGURATION
msd_code_path='../../'
assert os.path.isdir(msd_code_path), 'wrong path' # sanity check
# we add some paths to python so we can import MSD code
# Ubuntu: you can change the environment variable PYTHONPATH
# in your .bashrc file so you do not have to type these lines
sys.path.append( os.path.join(msd_code_path,'PythonSrc') )

Requirement already satisfied: tables in /opt/anaconda3/lib/python3.7/site-packages (3.5.2)
Requirement already satisfied: six>=1.9.0 in /opt/anaconda3/lib/python3.7/site-packages (from tables) (1.12.0)
Requirement already satisfied: numpy>=1.9.3 in /opt/anaconda3/lib/python3.7/site-packages (from tables) (1.17.2)
Requirement already satisfied: numexpr>=2.6.2 in /opt/anaconda3/lib/python3.7/site-packages (from tables) (2.7.0)
Requirement already satisfied: mock>=2.0 in /opt/anaconda3/lib/python3.7/site-packages (from tables) (3.0.5)

In [2]:
# imports specific to the MSD
import hdf5_getters as GETTERS

In [3]:
# the following function simply gives us a nice string for
# a time lag in seconds
def strtimedelta(starttime,stoptime):
    return str(datetime.timedelta(seconds=stoptime-starttime))

# we define this very useful function to iterate the files
def apply_to_all_files(basedir,func=lambda x: x,ext='.h5'):
    """
    From a base directory, go through all subdirectories,
    find all files with the given extension, apply the
    given function 'func' to all of them.
    If no 'func' is passed, we do nothing except counting.
    INPUT
       basedir  - base directory of the dataset
       func     - function to apply to all filenames
       ext      - extension, .h5 by default
    RETURN
       number of files
    """
    cnt = 0
    # iterate over all files in all subdirectories
    for root, dirs, files in os.walk(basedir):
        files = glob.glob(os.path.join(root,'*'+ext))
        # count files
        cnt += len(files)
        # apply function to all files
        for f in files :
            func(f)       
    return cnt

# we can now easily count the number of files in the dataset
print ('number of song files:',apply_to_all_files(msd_subset_data_path))

In [3]:
# let's now get all artist names in a set(). One nice property:
# if we enter many times the same artist, only one will be kept.
all_artist_names = set()

# we define the function to apply to all files
def func_to_get_artist_name(filename):
    """
    This function does 3 simple things:
    - open the song file
    - get artist ID and put it
    - close the file
    """
    h5 = GETTERS.open_h5_file_read(filename)
    artist_name = GETTERS.get_artist_name(h5)
    all_artist_names.add( artist_name )
    h5.close()
    
# let's apply the previous function to all files
# we'll also measure how long it takes
t1 = time.time()
apply_to_all_files(msd_subset_data_path,func=func_to_get_artist_name)
t2 = time.time()
print ('all artist names extracted in:',strtimedelta(t1,t2))

In [3]:
# let's see some of the content of 'all_artist_names'
print ('found',len(all_artist_names),'unique artist names')
for k in range(5):
    print (list(all_artist_names)[k])

In [50]:
# this is too long, and the work of listing artist names has already
# been done. Let's redo the same task using an SQLite database.
# We connect to the provided database: track_metadata.db
conn = sqlite3.connect(os.path.join(msd_subset_addf_path,
                                    'subset_track_metadata.db'))
# we build the SQL query
q = "SELECT DISTINCT artist_name FROM songs"
# we query the database
t1 = time.time()
res = conn.execute(q)
all_artist_names_sqlite = res.fetchall()
t2 = time.time()
print ('all artist names extracted (SQLite) in:',strtimedelta(t1,t2))
# we close the connection to the database
conn.close()
# let's see some of the content
for k in range(10):
    print (all_artist_names_sqlite[k][0])

all artist names extracted (SQLite) in: 0:00:00.065413
!!!
(hed) p.e.
089 Clique feat. Minnesota Snipe & Skinny Cueball
089 Clique feat. Prophet
1. Futurologischer Congress
12 Gauge
2 Minutos
2-4 Grooves feat. Reki D.
2-Gether feat. Sarinah
20/20

In [36]:
# now, let's find the artist that has the most songs in the dataset
# what we want to work with is artist ID, not artist names. Some artists
# have many names, usually because the song is "featuring someone else"
conn = sqlite3.connect(os.path.join(msd_subset_addf_path,
                                    'subset_track_metadata.db'))
q = "SELECT DISTINCT artist_id FROM songs"
res = conn.execute(q)
all_artist_ids = map(lambda x: x[0], res.fetchall())
conn.close()
# list_artists = range(len(list(all_artist_ids)))
# The Echo Nest artist id look like:
# for k in list_artists:
# print(list(all_artist_ids))

# let's count the songs from each of these artists.
# We will do it first by iterating over the dataset.
# we prepare a dictionary to count files
files_per_artist = {}
for aid in all_artist_ids:
    files_per_artist[aid] = 0

In [47]:
len(files_per_artist)

3888

In [40]:
import curses

In [44]:
# we prepare the function to check artist id in each file
def func_to_count_artist_id(filename):
    """
    This function does 3 simple things:
    - open the song file
    - get artist ID and put it
    - close the file
    """
    h5 = GETTERS.open_h5_file_read(filename)
    artist_id = GETTERS.get_artist_id(h5).decode('UTF-8')
    files_per_artist[artist_id] += 1
    h5.close()

# we apply this function to all files
apply_to_all_files(msd_subset_data_path,func=func_to_count_artist_id)

10000

In [45]:
# the most popular artist (with the most songs) is:
most_pop_aid = sorted(files_per_artist,
                      key=files_per_artist.__getitem__,
                      reverse=True)[0]
print (most_pop_aid,'has',files_per_artist[most_pop_aid],'songs.')

AROIHOI122988FEB8E has 13 songs.

In [48]:
# of course, it is more fun to have the name(s) of this artist
# let's get it using SQLite
conn = sqlite3.connect(os.path.join(msd_subset_addf_path,
                                    'subset_track_metadata.db'))
q = "SELECT DISTINCT artist_name FROM songs"
q += " WHERE artist_id='"+most_pop_aid+"'"
res = conn.execute(q)
pop_artist_names = map(lambda x: x[0], res.fetchall())
conn.close()
print ('SQL query:',q)
print ('name(s) of the most popular artist:',pop_artist_names)

SQL query: SELECT DISTINCT artist_name FROM songs WHERE artist_id='AROIHOI122988FEB8E'
name(s) of the most popular artist: <map object at 0x121f7ad90>

In [49]:
# let's redo all this work in SQLite in a few seconds
t1 = time.time()
conn = sqlite3.connect(os.path.join(msd_subset_addf_path,
                                    'subset_track_metadata.db'))
q = "SELECT DISTINCT artist_id,artist_name,Count(track_id) FROM songs"
q += " GROUP BY artist_id"
res = conn.execute(q)
pop_artists = res.fetchall()
conn.close()
t2 = time.time()
print ('found most popular artist in',strtimedelta(t1,t2))
print (sorted(pop_artists,key=lambda x:x[2],reverse=True)[0])

found most popular artist in 0:00:00.221100
('AROIHOI122988FEB8E', 'Mario Rosenstock', 13)

In [54]:
conn = sqlite3.connect(os.path.join(msd_subset_addf_path,
                                    'subset_track_metadata.db'))

conn.execute(
'''
SELECT sql 
FROM sqlite_master 
WHERE name = 'songs';
'''
).fetchall()

[('CREATE TABLE songs (track_id text PRIMARY KEY, title text, song_id text, release text, artist_id text, artist_mbid text, artist_name text, duration real, artist_familiarity real, artist_hotttnesss real, year int)',)]

In [63]:
import utils

In [78]:
import display_song

In [79]:
display_song.die_with_usage()

display_song.py
T. Bertin-Mahieux (2010) tb2332@columbia.edu
to quickly display all we know about a song
usage:
   python display_song.py [FLAGS] <HDF5 file> <OPT: song idx> <OPT: getter>
example:
   python display_song.py mysong.h5 0 danceability
INPUTS
   <HDF5 file>  - any song / aggregate /summary file
   <song idx>   - if file contains many songs, specify one
                  starting at 0 (OPTIONAL)
   <getter>     - if you want only one field, you can specify it
                  e.g. "get_artist_name" or "artist_name" (OPTIONAL)
FLAGS
   -summary     - if you use a file that does not have all fields,
                  use this flag. If not, you might get an error!
                  Specifically desgin to display summary files

SystemExit: 0

In [77]:
!display_song.py /MillionSongSubset/data/A/A/A/TRAAAAW128F429D538.h5

/bin/sh: display_song.py: command not found

In [80]:
import pandas as pd

In [84]:
df = pd.read_csv('../../YearPredictionMSD.csv')

In [85]:
df.head()

,2001,49.94357,21.47114,73.07750,8.74861,-17.40628,-13.09905,-25.01202,-12.23257,7.83089,...,13.01620,-54.40548,58.99367,15.37344,1.11144,-23.08793,68.40795,-1.82223,-27.46348,2.26327
0,2001,48.73215,18.42930,70.32679,12.94636,-10.32437,-24.83777,8.76630,-0.92019,18.76548,...,5.66812,-19.68073,33.04964,42.87836,-9.90378,-32.22788,70.49388,12.04941,58.43453,26.92061
1,2001,50.95714,31.85602,55.81851,13.41693,-6.57898,-18.54940,-3.27872,-2.35035,16.07017,...,3.03800,26.05866,-50.92779,10.93792,-0.07568,43.20130,-115.00698,-0.05859,39.67068,-0.66345
2,2001,48.24750,-1.89837,36.29772,2.58776,0.97170,-26.21683,5.05097,-10.34124,3.55005,...,34.57337,-171.70734,-16.96705,-46.67617,-12.51516,82.58061,-72.08993,9.90558,199.62971,18.85382
3,2001,50.97020,42.20998,67.09964,8.46791,-15.85279,-16.81409,-12.48207,-9.37636,12.63699,...,9.92661,-55.95724,64.92712,-17.72522,-1.49237,-7.50035,51.76631,7.88713,55.66926,28.74903
4,2001,50.54767,0.31568,92.35066,22.38696,-25.51870,-19.04928,20.67345,-5.19943,3.63566,...,6.59753,-50.69577,26.02574,18.94430,-0.33730,6.09352,35.18381,5.00283,-11.02257,0.02263

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515344 entries, 0 to 515343
Data columns (total 91 columns):
2001          515344 non-null int64
49.94357      515344 non-null float64
21.47114      515344 non-null float64
73.07750      515344 non-null float64
8.74861       515344 non-null float64
-17.40628     515344 non-null float64
-13.09905     515344 non-null float64
-25.01202     515344 non-null float64
-12.23257     515344 non-null float64
7.83089       515344 non-null float64
-2.46783      515344 non-null float64
3.32136       515344 non-null float64
-2.31521      515344 non-null float64
10.20556      515344 non-null float64
611.10913     515344 non-null float64
951.08960     515344 non-null float64
698.11428     515344 non-null float64
408.98485     515344 non-null float64
383.70912     515344 non-null float64
326.51512     515344 non-null float64
238.11327     515344 non-null float64
251.42414     515344 non-null float64
187.17351     515344 non-null float64
100.42652     515344 non-null float64
179.19498     515344 non-null float64
-8.41558      515344 non-null float64
-317.87038    515344 non-null float64
95.86266      515344 non-null float64
48.10259      515344 non-null float64
-95.66303     515344 non-null float64
-18.06215     515344 non-null float64
1.96984       515344 non-null float64
34.42438      515344 non-null float64
11.72670      515344 non-null float64
1.36790       515344 non-null float64
7.79444       515344 non-null float64
-0.36994      515344 non-null float64
-133.67852    515344 non-null float64
-83.26165     515344 non-null float64
-37.29765     515344 non-null float64
73.04667      515344 non-null float64
-37.36684     515344 non-null float64
-3.13853      515344 non-null float64
-24.21531     515344 non-null float64
-13.23066     515344 non-null float64
15.93809      515344 non-null float64
-18.60478     515344 non-null float64
82.15479      515344 non-null float64
240.57980     515344 non-null float64
-10.29407     515344 non-null float64
31.58431      515344 non-null float64
-25.38187     515344 non-null float64
-3.90772      515344 non-null float64
13.29258      515344 non-null float64
41.55060      515344 non-null float64
-7.26272      515344 non-null float64
-21.00863     515344 non-null float64
105.50848     515344 non-null float64
64.29856      515344 non-null float64
26.08481      515344 non-null float64
-44.59110     515344 non-null float64
-8.30657      515344 non-null float64
7.93706       515344 non-null float64
-10.73660     515344 non-null float64
-95.44766     515344 non-null float64
-82.03307     515344 non-null float64
-35.59194     515344 non-null float64
4.69525       515344 non-null float64
70.95626      515344 non-null float64
28.09139      515344 non-null float64
6.02015       515344 non-null float64
-37.13767     515344 non-null float64
-41.12450     515344 non-null float64
-8.40816      515344 non-null float64
7.19877       515344 non-null float64
-8.60176      515344 non-null float64
-5.90857      515344 non-null float64
-12.32437     515344 non-null float64
14.68734      515344 non-null float64
-54.32125     515344 non-null float64
40.14786      515344 non-null float64
13.01620      515344 non-null float64
-54.40548     515344 non-null float64
58.99367      515344 non-null float64
15.37344      515344 non-null float64
1.11144       515344 non-null float64
-23.08793     515344 non-null float64
68.40795      515344 non-null float64
-1.82223      515344 non-null float64
-27.46348     515344 non-null float64
2.26327       515344 non-null float64
dtypes: float64(90), int64(1)
memory usage: 357.8 MB

In [88]:
GETTERS.get_title()

TypeError: get_title() missing 1 required positional argument: 'h5'

In [90]:
df = pd.read_csv('https://raw.githubusercontent.com/thomasSve/Million-Song-Dataset-Analysis/master/datasets/msd_genre_dataset.txt')

In [93]:
df.head()

,genre,track_id,artist_name,title,loudness,tempo,time_signature,key,mode,duration,...,var_timbre3,var_timbre4,var_timbre5,var_timbre6,var_timbre7,var_timbre8,var_timbre9,var_timbre10,var_timbre11,var_timbre12
0,classic pop and rock,TRFCOOU128F427AEC0,Blue Oyster Cult,Mes Dames Sarat,-8.697,155.007,1,9,1,246.33424,...,1255.514569,580.030472,598.485223,575.337671,322.068603,321.726029,232.700609,186.805303,181.938688,151.508011
1,classic pop and rock,TRNJTPB128F427AE9F,Blue Oyster Cult,Screams,-10.659,148.462,1,4,0,189.80526,...,2007.653070,1043.474073,585.694981,564.013736,510.177022,400.200186,365.119588,238.099708,197.933757,251.577525
2,classic pop and rock,TRLFJHA128F427AEEA,Blue Oyster Cult,Dance The Night Away,-13.494,112.909,1,10,0,158.19710,...,1204.856777,2736.520024,730.233239,665.203452,535.775111,439.335059,486.822970,265.333860,447.097987,251.880724
3,classic pop and rock,TRCQZAG128F427DB97,Blue Oyster Cult,Debbie Denise,-12.786,117.429,4,7,1,250.22649,...,809.755802,563.908070,492.803819,378.382799,372.875044,231.941957,246.313305,168.400152,85.282462,339.897173
4,classic pop and rock,TRNXMNM128F427DB8C,Blue Oyster Cult,(Don't Fear) The Reaper,-14.093,141.536,4,9,0,307.06893,...,1093.684935,343.556047,889.163314,218.111796,304.862864,178.352161,440.478867,142.669283,81.061326,208.355152

In [94]:
df.columns

Index(['genre', 'track_id', 'artist_name', 'title', 'loudness', 'tempo',
       'time_signature', 'key', 'mode', 'duration', 'avg_timbre1',
       'avg_timbre2', 'avg_timbre3', 'avg_timbre4', 'avg_timbre5',
       'avg_timbre6', 'avg_timbre7', 'avg_timbre8', 'avg_timbre9',
       'avg_timbre10', 'avg_timbre11', 'avg_timbre12', 'var_timbre1',
       'var_timbre2', 'var_timbre3', 'var_timbre4', 'var_timbre5',
       'var_timbre6', 'var_timbre7', 'var_timbre8', 'var_timbre9',
       'var_timbre10', 'var_timbre11', 'var_timbre12'],
      dtype='object')

In [99]:
df[['avg_timbre1', 'avg']]

       avg_timbre1
0        46.673067
1        43.645377
2        37.573538
3        42.566615
4        40.976507
...            ...
59595    40.231725
59596    43.813328
59597    38.561170
59598    41.280131
59599    36.905053

[59600 rows x 1 columns]